.navbar {
    background-color: #1b5489;
    border-radius: 0;
}

.nav > li > a:hover{
    background-color: transparent;
    color: white;
}

.navbar-image{
    height: 50px;
}

.navbar-brand{
    padding-top: 12px;
    font-size: 24px;
}

.navbar-brand:hover{
    color: white;
}